
.title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;

}

h3 {
  font-family: Montserrat;
}

p {
  color: #8f8f8f;
}



 /* Navigation Bar */

 .navbar {
   padding-bottom: 4.5rem;
 }

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light"
}

/* Download button */

.infor-button {
  margin: 5% 3% 5% 0;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #ff4c68;
}

.harid-tugma:hover {
  color: black;
  font-weight: bold;
}
/* Title image */

.title-image {
  border-radius: 50px;
  width: 90%;
  transform: rotate(10deg);
}

@media (max-width: 990px) {

   .title {
     text-align: center;
   }


  .title-image {
    transform: rotate(0);
  }
}

  /*  Features */

  .features {
    padding: 7% 15%;
  }

  .feature-box {
    text-align: center;
    padding: 5%;
  }

  .icon {
    color: #ef8172;
    margin: 1rem;
  }

  .icon:hover {
    color: #ff4c68;
  }

  /* Testimonials Section */

.testimonials {
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}

.carousel-item {
    padding: 7% 15%;
}

.pavilion-img {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

/* Press */

.press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}

/* Logolar */

.logolar {
  width: 15%;
  margin: 20px 20px 50px;
}


/* Pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
}

.narxi-qalin {
  font-weight: bold;
  color: black;
  font-size: 1.2rem;
}

#narxi {
  padding: 3% 2%;
}

.price-hover:hover {
  color: #ff4c68;
}

/* Call to Action */

#cta {
  background-color: #ff4c68;
  text-align: center;
}

#ctah3 {
    padding: 7% 15% 3%;
      font-family: "Montserrat", sans-serif;
      font-size: 3.5rem;
      line-height: 1.5;
      color: white;
}

.ctap {
  color: black;
  font-size: 1.5rem;
  line-height: 1;
}

.storebtn {
  margin: 0 1% 10%;
}

#footer {
      padding: 7% 15%;
      text-align: center;
}

.footer-icon {
  padding: 20px 10px;
}
